/AvatarDuel/nbproject/private/
/AvatarDuel/dist/
/AvatarDuel/build/
/entah/nbproject/private/
/entah/build/
/entah/build
/AvatarDuel/.nb-gradle/
/JavaFXPreloader1/nbproject/private/
/JavaFXApplication3/nbproject/private/
/JavaFXSwingApplication1/nbproject/private/
/JavaFXSwingApplication1/dist/
/JavaFXSwingApplication1/build/
/JavaFXApplication4/nbproject/private/
/JavaFXApplication4/.nb-gradle/